*
!.gitignore

!alacritty
!alacritty/*

!dircolors
!dircolors/*

!lf
!lf/*

!nvim
!nvim/init.lua
!nvim/colors
!nvim/colors/xcode.vim
!nvim/luasnippets
!nvim/luasnippets/*.lua

!tmux
!tmux/tmux.conf

!zsh
!zsh/*

!starship.toml

!helix
!helix/config.toml
