*
!.gitignore

!alacritty
!alacritty/*
!ghostty
!ghostty/config

!dircolors
!dircolors/*

!nvim
!nvim/init.lua
!nvim/lua
!nvim/lua/config
!nvim/lua/config/*.lua
!nvim/lua/plugins
!nvim/lua/plugins/*.lua
!nvim/luasnippets
!nvim/luasnippets/*.lua
!nvim/ftplugin
!nvim/ftplugin/*.lua

!tmux
!tmux/tmux.conf

!zsh
!zsh/*

!starship.toml

!python
!python/pythonrc

!npm
!npm/config

!pg_format
!pg_format/functions.lst
