*
!.gitignore

!alacritty
!alacritty/*

!dircolors
!dircolors/*

!lf
!lf/*

!nvim
!nvim/init.lua
!nvim/lua
!nvim/lua/config
!nvim/lua/config/*.lua
!nvim/lua/plugins
!nvim/lua/plugins/*.lua
!nvim/lua/plugins/lsp
!nvim/lua/plugins/lsp/*.lua
!nvim/luasnippets
!nvim/luasnippets/*.lua

!tmux
!tmux/tmux.conf

!zsh
!zsh/*

!starship.toml

!helix
!helix/config.toml
